<footer>
    <h3>GoGreen - Il tuo servizio di car sharing ecologico</h3>
    <div>
        <p>Seguici sui social media: <br> <img src="../../res/icone/iconeSocial/1.png" alt="icona Facebook"> <img src="../../res/icone/iconeSocial/2.png" alt="icona Instagram"> <img src="../../res/icone/iconeSocial/3.png" alt="icona Twitter"> </p>
        <p>Contattaci: info@gogreen.com | +39 123 456 789</p>
        <h5> © 2023 GoGreen. Tutti i diritti riservati.</h5>
        <h6>Ivan Tenga e Rebecca Sanua</h6>
    </div>
</footer>