<header>
    <div class="Logo">
        <a href="index.php"><img src="../../res/logoGoGreen.png" alt="Immagine logo del sito"></a>
    </div>
    <nav>
        <div><a href="mappa.php" >Mappa</a></div>
        <div><a href="prenotaVeicolo.php">Tariffe</a></div>
        <div><a href="dona.php">Donazioni</a></div>
        <div><a href="faq.php">Faq</a></div>
        <div><a href="registrazione.php">Registrati</a></div>
        <div><a href="areaClienti.php">AreaClienti</a></div>
        <input type="text" id="box-bottom" placeholder="Search" onkeypress="redirect(event)"> 
        <div id="search"><img onclick="redirect()" src="../../res/icone/iconaSearch.png" alt="icona lente ingrandimento per la ricerca della pagina"></div>
    </nav>
    <script>
        function redirect(event){
            var keyword = document.getElementById("box-bottom").value;
            if (event) {
                if (event.keyCode === 13) { // Verifica se il tasto premuto è il tasto Invio (codice 13)
                    window.location.href = "ricerca.php?keyword=" + encodeURIComponent(keyword);
                }
            } else {
                window.location.href = "ricerca.php?keyword=" + encodeURIComponent(keyword);
            }
        }
    </script>
</header>
